/* position */
-pos(type, args)
  position: unquote(type)
  i = 0
  {args[i]}: args[i+1] is a 'unit' ? args[i+=1] : 0
  {args[i+=1]}: args[i+1] is a 'unit' ? args[i+=1] : 0

absolute()
  -pos('absolute', arguments)

fixed()
  -pos('fixed', arguments)

/* flexible background image with different dpr devices */
bg-img($url)
  background-image url($url + "@2x.png")
  @media (-webkit-min-pixel-ratio: 3),(min-pixel-ratio: 3)
    background-image url($url + "@3x.png")

/* inline image especial for background which used icon style */
inline-icon($width, $height)
  display inline-block
  vertical-align top
  width $width
  height $height
  background-size $width $height
  background-repeat no-repeat
